<h3><a class="btn btn-secondary" href="/"><i class="fa fa-plus"></i>Tambah Baru</a>List Karyawan</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Email</th>
            <th>Telepon</th>
            <th>Alamat</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         {{#each list}}
        <tr>
            <td>{{this.Nama}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.Telepon}}</td>
            <td>{{this.Alamat}}</td>
            <td> 
                <a href="/{{this._id}}"> <i class="fa fa-pencil fa-lg" aria-hidden="true"> </i> </a>
                <a href="/delete/{{this._id}}"> <i class="fa fa-trash fa-lg" aria-hidden="true"> </i> </a> 
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>